<?xml version="1.0" encoding="UTF-8" ?>   
    <!DOCTYPE mapper   
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 不使用namespace的话sql搜索定位会比较方便-->
<mapper namespace="com.kewen.teacher.mapper.TeacherMapper">

     <!-- 实体类与数据库映射字段部分  start -->
	<resultMap id="ResultMapTeacher" type="com.kewen.teacher.po.Teacher">
        <result property="id" column="id"  jdbcType="INTEGER"/>
        <result property="username" column="username"  jdbcType="VARCHAR"/>
        <result property="sex" column="sex"  jdbcType="VARCHAR"/>
        <result property="password" column="password"  jdbcType="VARCHAR"/>
        <result property="xw" column="xw"  jdbcType="VARCHAR"/>
        <result property="phone" column="phone"  jdbcType="VARCHAR"/>
        <result property="isDelete" column="isDelete"  jdbcType="INTEGER"/>
	</resultMap>
	 <!-- 实体类与数据库映射字段部分  end -->
	 
	 <!-- 声明数据库字段 -->
	<sql id="Teacher_field">
           id,
           username,
           sex,
           password,
           xw,
           phone,
           isDelete
	</sql>
	
	<!-- 实体类属性  -->
	<sql id="Teacher_insert">
        	#{id} ,
        	#{username} ,
        	#{sex} ,
        	#{password} ,
        	#{xw} ,
        	#{phone} ,
        	#{isDelete} 
	</sql>
	
	<!-- 执行修改时 数据库字段和表字段比较 -->
	<sql id="Teacher_update">
		    <if test="username != null" >
	            username = #{username} ,
	        </if>
		    <if test="sex != null" >
	            sex = #{sex} ,
	        </if>
		    <if test="password != null" >
	            password = #{password} ,
	        </if>
		    <if test="xw != null" >
	            xw = #{xw} ,
	        </if>
		    <if test="phone != null" >
	            phone = #{phone} ,
	        </if>
		    <if test="isDelete != null" >
	            isDelete = #{isDelete} 
	        </if>
	</sql>
	
	<!-- 查询时条件 -->
	<sql id="Teacher_where">
	        <if test="id != null " >
	            and id =#{id}
	        </if>
	        <if test="username != null " >
	            and username =#{username}
	        </if>
	        <if test="sex != null " >
	            and sex =#{sex}
	        </if>
	        <if test="password != null " >
	            and password =#{password}
	        </if>
	        <if test="xw != null " >
	            and xw =#{xw}
	        </if>
	        <if test="phone != null " >
	            and phone =#{phone}
	        </if>
	        <if test="isDelete != null " >
	            and isDelete =#{isDelete}
	        </if>
	</sql>
	
   <!-- **************************************分割线************************************************************ -->	
	
	<!-- 以下是sql执行语句 
	     注意：1)需要传参数的请注意你使用的方法是 xxByMap还是ByEntuty 存放的参数类型不一致。
	      2)非自定义的方法已经是basedao注明的。方法名一定要和id相同
	      3)自定义类的方法注意是否和共有方法重名id
	      4)执行sql出现顺序和baseDao方法一致，便于查询请勿随意添加，自定义的sql一律放在自定义sql区域
	 -->
	
	
   <!-- ========================================新增==================================================================== -->
	<!-- 
	 【注意添加序列】
	 1.方法描述：新增数据
	 2.参数：实体类
	 3.返回：主键
	-->
	<insert id="insert" parameterType="com.kewen.teacher.po.Teacher" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO teacher (
        <include refid="Teacher_field" />
        ) VALUES (
        <include refid="Teacher_insert" />       
        )
	</insert>
	
	
	 <!-- ========================================删除==================================================================== -->
	<!-- 
	 1.方法描述：根据主键id删除
	 2.参数：主键id
	-->
	<delete id="deleteById" parameterType="java.lang.Integer">
	 delete from teacher where id=#{id}
	</delete>
	
	
	<!-- 
	 1.方法描述：根据实体类删除
	 2.参数：主键id
	-->
	<delete id="deleteByEntity" parameterType="com.kewen.teacher.po.Teacher">
	 delete from teacher
	  WHERE 1=1
      <include refid="Teacher_where" />   
	</delete>
	
	
	<!-- 
	 1.方法描述：根据map删除
	 2.参数：主键id
	-->
	<delete id="deleteByMap" parameterType="java.util.HashMap">
	 delete from teacher
	  WHERE 1=1
      <include refid="Teacher_where" />   
	</delete>
	
	
	 <!-- ========================================修改==================================================================== -->
	<!-- 
	 1.方法描述：修改数据
	 2.参数：实体类
	-->
	<update id="update" parameterType="com.kewen.teacher.po.Teacher">
        UPDATE teacher
        <set>
	        <include refid="Teacher_update" />
	    </set>
        WHERE 1=1
        	<include refid="Teacher_where" />        
	</update>
	
	<!-- 
	 1.方法描述：修改数据通过id
	 2.参数：实体类
	 -->
	<update id="updateById" parameterType="com.kewen.teacher.po.Teacher">
        UPDATE teacher
        <set>
	        <include refid="Teacher_update" />
	    </set>
        WHERE 1=1
        	and id=#{id}      
	</update>
	
	
	
	 <!-- ========================================查询列表【不分页】==================================================================== -->
	
	<!-- 
	 1.方法描述：用于listByMap根据map查询
	 2.参数：map
	-->
	<select id="listByMap" resultMap="ResultMapTeacher" parameterType="map">
		select <include refid="Teacher_field" />
 		from teacher where 1=1
 		<include refid="Teacher_where" /> 
	</select>
	
	<!-- 
	 1.方法描述：用于select查询所有
	 2.参数：无参数
	-->
	<select id="listAll" resultMap="ResultMapTeacher">
		select <include refid="Teacher_field" />
 		from teacher 
	</select>
	
	
	<!-- 
	 1.方法描述：查询所有实体,根据实体属性值为判断条件查询所有实体，
	 2.参数：Entity
	-->
	<select id="listAllByEntity" resultMap="ResultMapTeacher" parameterType="com.kewen.teacher.po.Teacher">
		select <include refid="Teacher_field" />
 		from teacher where 1=1
 		<include refid="Teacher_where" /> 
	</select>
	
	
	
	 <!-- ========================================查询单个对象==================================================================== -->
	<!-- 
	 1.方法描述：select查询单个
	 2.参数：id
	-->
	<select id="load" resultMap="ResultMapTeacher" parameterType="java.lang.Integer">
		select 	<include refid="Teacher_field" />
 		from teacher 
 		where id=#{id}
	</select>
	
	
	
	<!-- 
	 1.方法描述：select查询单个
	 2.参数：id
	-->
	<select id="getById" resultMap="ResultMapTeacher" parameterType="java.lang.Integer">
		select 	<include refid="Teacher_field" />
 		from teacher 
 		where id=#{id}
	</select>
	
	<!-- 
	 1.方法描述：用于getByMap根据map查询
	 2.参数：map
	-->
	<select id="getByMap" resultMap="ResultMapTeacher" parameterType="map">
		select <include refid="Teacher_field" />
 		from teacher where 1=1
 		<include refid="Teacher_where" /> 
	</select>
	
	<!-- 
	 1.方法描述：用于Entity根据Entity查询
	 2.参数：Entity
	 -->
	<select id="getByEntity" resultMap="ResultMapTeacher" parameterType="com.kewen.teacher.po.Teacher">
		select <include refid="Teacher_field" />
 		from teacher where 1=1
 		<include refid="Teacher_where" /> 
	</select>
	
	
	 <!-- ========================================查询列表【分页】==================================================================== -->
     <!-- 
	 1.方法描述：分页
	 2.参数：map
	 -->
	<select id="findByMap" resultMap="ResultMapTeacher" parameterType="map">
		select <include refid="Teacher_field" />
 		from teacher where 1=1
 		<include refid="Teacher_where" /> 
	</select>
	
     <!-- 
	 1.方法描述：分页
	 2.参数：Entity
	 -->
	<select id="findByEntity" resultMap="ResultMapTeacher" parameterType="com.kewen.teacher.po.Teacher">
		select <include refid="Teacher_field" />
 		from teacher where 1=1
 		<include refid="Teacher_where" /> 
	</select>
	
	
	 <!-- ========================================批量新增修改==================================================================== -->
	<!-- 
	 1.方法描述：批量插入
	 2.参数：集合/数组
	-->
	<insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO teacher (
        <include refid="Teacher_field" />
        ) VALUES 
        <foreach collection="list" item="item" index="index"
			separator=",">
			(
			
	            #{item.username} ,
	            #{item.sex} ,
	            #{item.password} ,
	            #{item.xw} ,
	            #{item.phone} ,
	            #{item.isDelete} 
			
			)
		</foreach>       
        
	</insert>
    
    <!-- 
	 1.方法描述：批量修改
	 2.参数：集合/数组
	-->
	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index"
			separator=";">
        UPDATE 
        teacher 
        <set>
		    <if test="item.username != null" >
	        username = #{item.username},
	        </if>
		    <if test="item.sex != null" >
	        sex = #{item.sex},
	        </if>
		    <if test="item.password != null" >
	        password = #{item.password},
	        </if>
		    <if test="item.xw != null" >
	        xw = #{item.xw},
	        </if>
		    <if test="item.phone != null" >
	        phone = #{item.phone},
	        </if>
		    <if test="item.isDelete != null" >
	        isDelete = #{item.isDelete}
	        </if>
	    </set>
        WHERE 
        	1=1 
        </foreach>    
	</update>

   <!-- ******************************自定义 sql************************************************************** -->
   
   <!-- 
           通过sql查询单个对象 返回对象
    -->
   <select id="getBySqlReturnEntity" resultMap="ResultMapTeacher">
		${sql}
   </select>
   
    <!-- 
           通过sql查询单个对象 返回map
    -->
   <select id="getBySqlReturnMap" resultType="map">
		${sql}
   </select>
   
   <!-- 
           通过sql查询集合 返回对象
    -->
   <select id="listBySqlReturnEntity" resultMap="ResultMapTeacher">
		${sql}
   </select>
   
    <!-- 
           通过sql查询查询集合 返回map
    -->
   <select id="listBySqlReturnMap" resultType="map">
		${sql}
   </select>
   
   <!-- 
           通过sql查询分页集合 返回对象
    -->
   <select id="findBySqlRerturnEntity" resultMap="ResultMapTeacher">
		${sql}
   </select>
   
   <!-- 通过sql修改 -->
   <update id="updateBysql">
       ${sql}  
   </update>
   
   <delete id="deleteBySql">
	${sql}  
	</delete>
	
</mapper>

